*.obj
*.log
*.pdb
*.tlog
*.idb
*.lastbuildstate
#*.exe
*.stamp
*.ilk
*.db
*.opendp
*.dir

#Ignore the whole build folder
build/

#Ignore libs in external and libs folders
external/**.lib
libs/**.lib

#Exclude all model .objs
#!resources/models/*.obj
#!xGameAI/resources/models/*.obj